# Top Businesses With Most Reviews


Yelp
Medium
ID 10048

Find the top 5 businesses with most reviews. Assume that each row has a unique business_id such that the total reviews for each business is listed on each row. Output the business name along with the total number of reviews and order your results by the total reviews in descending order.

Table: yelp_business

--top 5 biz with most reviews
--unique biz_id ~ total reviews for each biz
--output: name, review_count： business name along with the total number of reviews 
--order by total reviews desc

--LIMIT 5 不好, rank 求top 5才最精准：
WITH business_rank AS(
SELECT 
    name,
    review_count,
    RANK() OVER (ORDER BY review_count DESC) AS rnk
FROM yelp_business
)
SELECT 
    name,
    review_count
FROM business_rank
WHERE rnk <= 5

# Top 5 States With 5 Star Businesses


Interview Question Date: March 2020

Yelp
Hard
ID 10046

Find the top 5 states with the most 5 star businesses. Output the state name along with the number of 5-star businesses and order records by the number of 5-star businesses in descending order. In case there are ties in the number of businesses, return all the unique states. If two states have the same result, sort them in alphabetical order.

Table: yelp_business

-- top 5 states with most 5 star biz
-- output: state,  n_businesses：
-- order by # 5 star biz in desc order,  sort state asc 
-- in case ties in # biz, return all unique states

--求top 5，用limit 5会不精准-因为会漏项，还是rank精准

WITH biz_rank AS(
SELECT 
    state,
    COUNT(business_id) AS n_businesses,
    RANK() OVER (ORDER BY COUNT(business_id) DESC) AS rnk
FROM yelp_business
WHERE stars = 5
GROUP BY 1
ORDER BY 2 DESC, 1 ASC
)
SELECT 
    state,
    n_businesses
FROM biz_rank
WHERE rnk <= 5

# Points Rating Of Wines Over Time


Interview Question Date: March 2020

Wine Magazine
Hard
ID 10045

Find the average points difference between each and previous years starting from the year 2000. Output the year, average points, previous average points, and the difference between them.
If you're unable to calculate the average points rating for a specific year, use an 87 average points rating for that year (which is the average of all wines starting from 2000).

Table: winemag_p2

1. 把text中数字取出：substring(A, '[0-9]{4}')
2. text转integer： ::integer
3. lag是默认所有年份是连续的, 将前一行值填到下一行：lag(X, 1) over(partition by Y order by X ASC) as previous
4. 填充空白值：COALESCE( A, B)
5. diff = C - D 
6. group by substring, title 会造成多个年份产生

--avg points diff bt each and prev years from 2000
--output: year, avg_points, prev_avg_points, difference
--if no avg rating for a year, use 87



--select * from winemag_p2;
WITH CTE AS(
SELECT 
    SUBSTRING(title, '[0-9]{4}')::integer AS year,
    AVG(points) AS avg_points
FROM winemag_p2
WHERE TITLE IS NOT NULL AND points IS NOT NULL
GROUP BY 1
)
SELECT 
    year,
    avg_points,
    COALESCE(LAG(avg_points,1) OVER (ORDER BY year), 87) AS prev_avg_points,
    avg_points - COALESCE(LAG(avg_points,1) OVER (ORDER BY year), 87) AS diff
FROM CTE
WHERE year >= 2000

# Highest Priced Wine In The US


Interview Question Date: March 2020

Wine Magazine
Medium
ID 10044
13

Data Engineer
Data Scientist
BI Analyst
Data Analyst
Find the highest price in US country for each variety produced in English speaking regions, but not in Spanish speaking regions, with taking into consideration varieties that have earned a minimum of 90 points for every country they're produced in.
Output both the variety and the corresponding highest price.


Let's assume the US is the only English speaking region in the dataset, and Spain, Argentina are the only Spanish speaking regions in the dataset. Let's also assume that the same variety might be listed under several countries so you'll need to remove varieties that show up in both the US and in Spanish speaking countries.

Table: winemag_p1

--highest price in US ~ each variety produced in English regions but not spanish regions
--√ varieties earned mini 90 for every country produced
--output: variety, max：variety and highest price
--US ~ only English speaking region; Spain, Argentina ~ Spanish only 
--remove varieties show up in both US & SPain 

--问题：一个variety种类，可以有多个points；一个variety种类，可以有多个价格


WITH remove AS(
SELECT 
    variety
FROM winemag_p1
WHERE country IN ('Spain', 'Argentina')
),
residue AS(
SELECT 
    variety
FROM winemag_p1
WHERE variety NOT IN (SELECT variety FROM remove)
GROUP BY 1
HAVING MIN(points) >= 90
)
SELECT 
    variety,
    MAX(price)
FROM winemag_p1
WHERE variety IN (SELECT variety FROM residue)
AND country = 'US'
GROUP BY 1

# Median Price Of Wines


Interview Question Date: March 2020

Wine Magazine
Hard
ID 10043

Find the median price for each wine variety across both datasets. Output distinct varieties along with the corresponding median price.

Tables: winemag_p1, winemag_p2

①当两个dataset列数不一致时，可以选出需要的列进行union操作；如果列数一直，可以直接select * 进行union操作
②此处应该UNION ALL而不是UNION, 选择两个dataset的全部
③median：
i. percentile_cont(0.5) within GROUP (ORDER BY A) AS median_price
ii. avg(A) + WHERE row_number_asc IN (row_number_desc, row_number_desc - 1, row_number_desc + 1 )； 
如果是奇数个记录，则选两个row_num相等的是中位数(eg. n = 5, median = asc = desc = 3)的记录选出来求平均值，即这个记录的值
如果是偶数个记录，则将asc = desc - 1 和asc = desc + 1的两个记录选出来求平均值

--法1：percentile_cont(0.5) within GROUP (ORDER BY A)
WITH total AS(
    SELECT 
        variety,
        price::float
    FROM winemag_p1
    UNION ALL
    SELECT 
        variety,
        price::float
    FROM winemag_p2
)
SELECT 
    variety,
    percentile_cont(0.5) within GROUP (ORDER BY price) AS median_price
FROM total
GROUP BY 1

--法2：row_number：
WITH total AS(
    SELECT 
        variety,
        price
    FROM winemag_p1
    WHERE price IS NOT NULL
    UNION ALL
    SELECT 
        variety,
        price
    FROM winemag_p2
    WHERE price IS NOT NULL
),
W1 AS(
SELECT 
    variety,
    price,
    ROW_NUMBER() OVER (PARTITION BY variety ORDER BY price ASC) AS rnk_asc,
    ROW_NUMBER() OVER (PARTITION BY variety ORDER BY price DESC) AS rnk_desc  
FROM total
)
SELECT 
    variety,
    AVG(price)
FROM W1
WHERE rnk_asc IN (rnk_desc, rnk_desc - 1, rnk_desc + 1)
GROUP BY 1